<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.check">

    <application >
        <activity android:name=".activity.DailyCheckActivity"></activity>
        <activity android:name=".activity.CheckHistoryActivity"/>
        <activity android:name=".activity.CheckActivity" />
        <activity android:name=".activity.AlterCheckActivity"/>
    </application>

</manifest>