<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.check">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.ListViewAcitivity" />
        <activity android:name=".activity.DailyCheckActivity"></activity>
    </application>

</manifest>