<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mains">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.cxyz.logiccommons.application.MyApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/QMUI.Compat.NoActionBar" >
        <activity
            android:name="com.cxyz.mains.activity.HomeActivity">
        </activity>
        <activity android:name="com.cxyz.mains.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cxyz.mains.activity.LoginActivity">
        </activity>
        <activity android:name=".activity.FogetpwdActivity"></activity>
        <activity android:name=".activity.RestPwdActivity"></activity>
        <activity android:name=".activity.Myinfo"></activity>
        <activity android:name=".activity.Apponitment"></activity>
        <activity android:name=".activity.UserResponse"></activity>
        <activity android:name=".activity.ExpandFunction"></activity>
        <activity android:name=".activity.MoreSetting"></activity>

    </application>

</manifest>