<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.cxyz.homepage">

    <application android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".acitivity.MessageActivity" />
        <activity android:name=".acitivity.SDcardActivity"/>
        <activity android:name=".acitivity.ClazzActivity"/>
    </application>

</manifest>
