<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mains">


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/CheckTheme" >
        <activity
            android:name="com.cxyz.mains.activity.HomeActivity">
        </activity>
        <activity android:name="com.cxyz.mains.activity.SplashActivity">
          <intent-filter >
              <category android:name="android.intent.category.LAUNCHER"></category>
              <action android:name="android.intent.action.MAIN"></action>
          </intent-filter>
        </activity>
        <activity android:name="com.cxyz.mains.activity.LoginActivity">
        </activity>
    </application>

</manifest>