<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.cxyz.untilchecked">

    <application
        android:name="com.cxyz.logiccommons.application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/common_logo"
        android:theme="@style/AppTheme"
        android:label="@string/common_app_name">
        <activity android:name="com.cxyz.mains.activity.HomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
