<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mine">

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".activity.oldMyinfoActivity" />
        <activity android:name=".activity.oldAppointmentActivity" />
        <activity android:name=".activity.oldSettingActivity" />
        <activity android:name=".activity.ResponseActivity" />
        <activity android:name=".activity.MyinfoActivity"></activity>
        <activity android:name=".activity.ExpandFunctionActivity"></activity>
        <activity android:name=".activity.MoreSettingActivity"></activity>
        <activity android:name=".activity.PieChartActivity"></activity>
        <activity android:name=".activity.UserResponse"></activity>
        <activity android:name=".activity.ApponitmentActivity"></activity>
        <activity android:name=".activity.ForgetpwdActivity"></activity>
        <activity android:name=".activity.RestPwdActivity"></activity>
        <activity android:name=".activity.check"></activity>
        <activity android:name=".activity.CheckHomepageActivity"></activity>
        <activity android:name=".activity.TestActivity" ></activity>

    </application>

</manifest>