<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mine">

    <application
        android:theme="@style/AppTheme">


        <activity android:name=".activity.MyinfoActivity" />
        <activity android:name=".activity.AppointmentActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ResponseActivity" />


    </application>

</manifest>